<a href="https://colab.research.google.com/github/aryanbtd36/Python-Pandas/blob/main/Pandas_Codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#FIRST BASIC CODE OF PANDAS
#Example-- 1
import pandas as pd
dataset = { 'Name' : [ "Ayush" , "Aryan" , "Riyaz" , "Mridu" , "Jivan" ] ,
           'Age' : [ "18" , "19", "20 " , "18" , "18" ]
          }
mylist = pd.DataFrame(dataset)
print(mylist)

    Name  Age
0  Ayush   18
1  Aryan   19
2  Riyaz  20
3  Mridu   18
4  Jivan   18

In [ ]:
#Example--2
import pandas as pd
mydataset = {'Subjects' : ["Maths","Physics","Chemmistry","English","Physical Education"] ,
             'Marks' : ["93", "92","94","95","96"]
            }
myfile = pd.DataFrame(mydataset)
print(myfile)

             Subjects Marks
0               Maths    93
1             Physics    92
2          Chemmistry    94
3             English    95
4  Physical Education    96

In [ ]:
#Series
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

In [ ]:
#Example Code
import pandas as pd
a = [ 1, 7, 8, 9 ]
myvar = pd.Series(a)
print(myvar)

0    1
1    7
2    8
3    9
dtype: int64

In [ ]:
#Using Indexing
import pandas as pd
a = [ 1,2,5,4,78 ]
myvar = pd.Series(a , index = [ "x","y","z","p","q" ] )
print(myvar)
#Accessing item by referring to the label
print(myvar["y"])

x     1
y     2
z     5
p     4
q    78
dtype: int64
2

In [ ]:
#Example Code
import pandas as pd
a = [2,5,4,7,8,9]
myvar = pd.Series(a , index = ["a","b","c","d","e","f"])
print(myvar)
print(myvar["c"])

a    2
b    5
c    4
d    7
e    8
f    9
dtype: int64
4

In [ ]:
#Creating pandas series from dictionary
import pandas as pd
calories = { "day1" : 548 , "day2" : 458 , "day3" : 587 , "day4" : 888 }
myvar = pd.Series(calories)
print(myvar)

day1    548
day2    458
day3    587
day4    888
dtype: int64

In [ ]:
#Example Code
import pandas as pd
data = {
    "calories": [420,1,4,8],
    "duration": [125,87,59,99]
}
myvar = pd.DataFrame(data)
print(myvar)

   calories  duration
0       420       125
1         1        87
2         4        59
3         8        99

In [9]:
#Locating Elements in Pandas using loc[]
import pandas as pd
data = {
    "weight" : ["45","50","60","75"],
    "height" : ["170","155","160","130"]

}
df = pd.DataFrame(data)
print(df)
print(df.loc[1])
print(df.loc[3])
print(df.loc[[1,3]])
print(df.loc[[0,1,2,3]])

  weight height
0     45    170
1     50    155
2     60    160
3     75    130
weight     50
height    155
Name: 1, dtype: object
weight     75
height    130
Name: 3, dtype: object
  weight height
1     50    155
3     75    130
  weight height
0     45    170
1     50    155
2     60    160
3     75    130

In [13]:
#Naming indexes
import pandas as pd
data = { "Weight": ["70","65","50","45"],
        "Height": ["128","150","170","165"]
}
df = pd.DataFrame(data,  index= ["Person 1","Person 2","Person 3","Person 4"] )
print(df)

         Weight Height
Person 1     70    128
Person 2     65    150
Person 3     50    170
Person 4     45    165

In [14]:
#Example Code
import pandas as pd
data = {
    "calories": [420,1,4,8],
    "duration": [125,87,59,99]
}
df = pd.DataFrame(data , index = [ "1","2","3","4"])
print(df)

   calories  duration
1       420       125
2         1        87
3         4        59
4         8        99

In [16]:
#Locating element through custom index name
import pandas as pd
data = { "Weight": ["70","65","50","45"],
        "Height": ["128","150","170","165"]
}
df = pd.DataFrame(data,  index= ["Person 1","Person 2","Person 3","Person 4"] )
print(df)
print(df.loc["Person 3"])
print(df.loc["Person 4"])

         Weight Height
Person 1     70    128
Person 2     65    150
Person 3     50    170
Person 4     45    165
Weight     50
Height    170
Name: Person 3, dtype: object
Weight     45
Height    165
Name: Person 4, dtype: object