<a href="https://colab.research.google.com/github/aryanbtd36/Python-Pandas/blob/main/Pandas_Codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#FIRST BASIC CODE OF PANDAS
#Example-- 1
import pandas as pd
dataset = { 'Name' : [ "Ayush" , "Aryan" , "Riyaz" , "Mridu" , "Jivan" ] ,
           'Age' : [ "18" , "19", "20 " , "18" , "18" ]
          }
mylist = pd.DataFrame(dataset)
print(mylist)

    Name  Age
0  Ayush   18
1  Aryan   19
2  Riyaz  20
3  Mridu   18
4  Jivan   18

In [ ]:
#Example--2
import pandas as pd
mydataset = {'Subjects' : ["Maths","Physics","Chemmistry","English","Physical Education"] ,
             'Marks' : ["93", "92","94","95","96"]
            }
myfile = pd.DataFrame(mydataset)
print(myfile)

             Subjects Marks
0               Maths    93
1             Physics    92
2          Chemmistry    94
3             English    95
4  Physical Education    96

In [ ]:
#Series
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

In [ ]:
#Example Code
import pandas as pd
a = [ 1, 7, 8, 9 ]
myvar = pd.Series(a)
print(myvar)

0    1
1    7
2    8
3    9
dtype: int64

In [ ]:
#Using Indexing
import pandas as pd
a = [ 1,2,5,4,78 ]
myvar = pd.Series(a , index = [ "x","y","z","p","q" ] )
print(myvar)
#Accessing item by referring to the label
print(myvar["y"])

x     1
y     2
z     5
p     4
q    78
dtype: int64
2

In [ ]:
#Example Code
import pandas as pd
a = [2,5,4,7,8,9]
myvar = pd.Series(a , index = ["a","b","c","d","e","f"])
print(myvar)
print(myvar["c"])

a    2
b    5
c    4
d    7
e    8
f    9
dtype: int64
4

In [ ]:
#Creating pandas series from dictionary
import pandas as pd
calories = { "day1" : 548 , "day2" : 458 , "day3" : 587 , "day4" : 888 }
myvar = pd.Series(calories)
print(myvar)

day1    548
day2    458
day3    587
day4    888
dtype: int64

In [ ]:
#Example Code
import pandas as pd
data = {
    "calories": [420,1,4,8],
    "duration": [125,87,59,99]
}
myvar = pd.DataFrame(data)
print(myvar)

   calories  duration
0       420       125
1         1        87
2         4        59
3         8        99

In [ ]:
#Locating Elements in Pandas using loc[]
import pandas as pd
data = {
    "weight" : ["45","50","60","75"],
    "height" : ["170","155","160","130"]

}
df = pd.DataFrame(data)
print(df)
print(df.loc[1])
print(df.loc[3])
print(df.loc[[1,3]])
print(df.loc[[0,1,2,3]])

  weight height
0     45    170
1     50    155
2     60    160
3     75    130
weight     50
height    155
Name: 1, dtype: object
weight     75
height    130
Name: 3, dtype: object
  weight height
1     50    155
3     75    130
  weight height
0     45    170
1     50    155
2     60    160
3     75    130

In [ ]:
#Naming indexes
import pandas as pd
data = { "Weight": ["70","65","50","45"],
        "Height": ["128","150","170","165"]
}
df = pd.DataFrame(data,  index= ["Person 1","Person 2","Person 3","Person 4"] )
print(df)

         Weight Height
Person 1     70    128
Person 2     65    150
Person 3     50    170
Person 4     45    165

In [ ]:
#Example Code
import pandas as pd
data = {
    "calories": [420,1,4,8],
    "duration": [125,87,59,99]
}
df = pd.DataFrame(data , index = [ "1","2","3","4"])
print(df)

   calories  duration
1       420       125
2         1        87
3         4        59
4         8        99

In [ ]:
#Locating element through custom index name
import pandas as pd
data = { "Weight": ["70","65","50","45"],
        "Height": ["128","150","170","165"]
}
df = pd.DataFrame(data,  index= ["Person 1","Person 2","Person 3","Person 4"] )
print(df)
print(df.loc["Person 3"])
print(df.loc["Person 4"])

         Weight Height
Person 1     70    128
Person 2     65    150
Person 3     50    170
Person 4     45    165
Weight     50
Height    170
Name: Person 3, dtype: object
Weight     45
Height    165
Name: Person 4, dtype: object

In [2]:
import pandas as pd
data = pd.read_csv("student.csv")
print(data)

    id         name  class  mark  gender
0    1     John Deo   Four    75  female
1    2     Max Ruin  Three    85    male
2    3       Arnold  Three    55    male
3    4   Krish Star   Four    60  female
4    5    John Mike   Four    60  female
5    6    Alex John   Four    55    male
6    7  My John Rob  Fifth    78    male
7    8       Asruid   Five    85    male
8    9      Tes Qry    Six    78    male
9   10     Big John   Four    55  female
10  11       Ronald    Six    89  female
11  12        Recky    Six    94  female
12  13          Kty  Seven    88  female
13  14         Bigy  Seven    88  female
14  15     Tade Row   Four    88    male
15  16        Gimmy   Four    88    male
16  17        Tumyu    Six    54    male
17  18        Honny   Five    75    male
18  19        Tinny   Nine    18    male
19  20       Jackly   Nine    65  female
20  21   Babby John   Four    69  female
21  22       Reggid  Seven    55  female
22  23        Herod  Eight    79    male
23  24    Tiddy Now  Seven    78    male
24  25     Giff Tow  Seven    88    male
25  26       Crelea  Seven    79    male
26  27     Big Nose  Three    81  female
27  28    Rojj Base  Seven    86  female
28  29  Tess Played  Seven    55    male
29  30    Reppy Red    Six    79  female
30  31  Marry Toeey   Four    88    male
31  32    Binn Rott  Seven    90  female
32  33    Kenn Rein    Six    96  female
33  34     Gain Toe  Seven    69    male
34  35   Rows Noump    Six    88  female

In [4]:
import pandas as pd
df = pd.read_csv("data.csv")
print(df.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4